html, body {
	margin: 0;
	padding: 0;
  height: 100%;
  font-size: 20px;
	background-color: #CEEEBE;
}

.main-container {
  height: 100%;
  text-align: center;
}

#main-canvas {
  margin: 0 auto;
  border: 2px solid #000000;
  position: relative;
  top: 50px;
}

#box-content {
  font-size: 25px;
  position: absolute;
  top: 90px;
  left: 0px;
  padding: 0 40px;
  width: 13%;
}

input[type=text], select {
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.box-name {
  width: 25%;
}

.box {
  font-size: 25px;
  display: inline-block;
  width: 75%;
  margin: 5px 0px 0px 10px;
  height: 35px;
}

#information {
  position: relative;
  top: 20px;
  text-align: center;
}

.control-button {
  position: relative;
  border: 1px solid #000000;
  height: 40px;
  width: 100px;
  margin-left: 25px;
  font-size: 20px;
}

.align-middle {
  vertical-align: middle;
}

.slider-wrap {
  display: inline;
}

/* The slider itself */
.slider {
  -webkit-appearance: none;
  position: relative;
  overflow:hidden;
  top: 5px;
  width: 200px;
  height: 20px;
  outline : none;
  background: #DDDDDD;
}

